# compiled Stan models
*.rds

# R and Rstudio stuff
.R*
*.Rproj

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Mac
.DS_Store

# All CSVs containing model samples
*-samples.csv

# Unzipped MegaIntensionality datasets
mega-intensionality-norming-v1/
mega-intensionality-validation-v1/
